

/*Profile Page CSS*/
#pfp{
  width: 225px;
  height:auto;
}
#aboutMe{
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;

  background-color: #FFCDB2;
  border: #FFCDB2;
  box-shadow: 15px 10px 2px 0px #FFB4A2;
}
#aboutMe .btn-dark{
  background-color: #FFB4A2;
  border: #FFB4A2;
  color: #000;
}

#aboutMe .btn-dark:hover{
  background-color: #6D6875;
  border: #6D6875;
  color: #FFF;
}

#artistPNG{
  margin: 0 auto;
  margin-top: 50px;
  width: 75%;
  padding: 10px;
  background-color: #E5989B;
  border-radius: 3px;
  box-shadow: 15px 10px 2px 0px #FFB4A2;
}

#btnGroup{
  width: 100%;
}
#btnGroup .btn{
  background-color: #6D6875;
  color: #FFF;
  font-size: 20px;
}
.clicked{
  background-color: #B5838D !important;
  box-shadow: inset -2px 2px 1px 1px #995C68;
}
#btnGroup .btn:active, #btnGroup .btn:hover{
  background-color: #B5838D !important;
  box-shadow: inset -2px 2px 1px 1px #995C68 !important;
}
#sketchesPNG, #commissionsPNG, #galleryPNG{
  margin: 20px;
}
#sketchesPNG img, #commissionsPNG img, #galleryPNG img{
  box-shadow: 5px 0px 3px 1px #6D6875;
  margin: 10px ;
  height: 200px;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.first-time {
  background-color:#fce373;
}

.first-time h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons a {
  margin: 20px 0px 20px 0px;
}

#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:rgb(35, 31, 32);
}
#wrapper h1 p
{
  font-size:18px;
}
.form_div
{
  width:330px;
  margin-left:320px;
  padding:10px;
  background-color:rgb(35, 31, 32);
}
.form_div .form_label
{
  margin:15px;
  margin-bottom:30px;
  font-size:25px;
  font-weight:bold;
  color:white;
  text-decoration:underline;
}
.form_div input[type="text"],input[type="password"]
{
  width:230px;
  height:40px;
  border-radius:2px;
  font-size:17px;
  padding-left:5px;
  border:none;
}

/* Navbar CSS */
.navbar {
  transition: 0.25s;
}

.navbar-nav a {
  position: relative;
}

.navbar-nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-dark a::before {
  background-color: #000;
}
.link-light a::before {
  background-color: #fff;
}
.navbar-nav a:hover::before {
  transform: scaleX(1);
}

/*Post CSS*/
body{
  overflow-x: hidden;
}
#postBody{
  top: 30px;
  padding-bottom: 40px;
  margin:30px;
}
#postBody .card{
  border: none;
}
#postImg img{
  width: 50%;
}
#postContent .row{
  margin:20px;
  margin-bottom: 40px;
}
.tagBtn{
  background-color: #fce373 !important;
}
.tagBtn:hover, .notActive:hover{
  background-color: #C6C8EE !important;
  color: #fff;
}
.notActive{
  background-color: #fce373 !important;
}
#isFav .active{
  background-color: #C6C8EE;
  color: #FFF;
}
.active:hover{
  background-color: #fce373;
}
